<div class="pay ">
    <table class="backdrop-blur-sm  min-w-full border border-gray-300 backdrop-blur-sm ">
        <thead>
            <tr class="hover:bg-orange-900 ">
                <th class="border border-gray-400 px-4 py-2">NomCli</th>
            <th class="border border-gray-400 px-4 py-2">PrenomCli</th>
            <th class="border border-gray-400 px-4 py-2">NumChambre</th>
            <th class="border border-gray-400 px-4 py-2">Nbjour</th>
            <th class="border border-gray-400 px-4 py-2">PrixTTC(Ar)</th>
            <th class="border border-gray-400 px-4 py-2">ModePay</th>
            <th class="border border-gray-400 px-4 py-2">Statut</th>
            <th class="border border-gray-400 px-4 py-2">DatePay</th>
 
            </tr>
        </thead>
        <tbody>
            @for (item of  tabPayCli; track $index) {
                @if(item.reservation.client.id==ida){
            <tr class="hover:bg-gray-900 ">
                <td class="border border-gray-400 px-4 py-2">{{item.reservation.client.nom}}</td>
                <td class="border border-gray-400 px-4 py-2">{{item.reservation.client.prenom}}</td>
                <td class="border border-gray-400 px-4 py-2">{{item.reservation.chambre.numero}}</td>
                <td class="border border-gray-400 px-4 py-2">{{ item.nbJour }}</td>
                <td class="border border-gray-400 px-4 py-2">{{item.price}}</td>
                <td class="border border-gray-400 px-4 py-2">{{item.methode}}</td>
                <td class="border border-gray-400 px-4 py-2">{{item.statut}}</td>
                <td class="border border-gray-400 px-4 py-2">{{item.datePaiement}}</td>
           
            </tr>
        }
        }
        </tbody>
    </table>
</div>
