.modal-enter {
  opacity: 0;
  transform: scale(0.9);
}
.modalC{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4);
}
.modal-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}

.modal-leave {
  opacity: 1;
  transform: scale(1);
}

.modal-leave-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.9s ease-in, transform 0.9s ease-in;
}
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
.chb{
  margin-top: 10px;
}
.chb:hover{
margin-left: 10px;
margin-top: 5px;
transition: 0.5s;
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
