

<div
*ngIf="isModalOpen"
class="fixed inset-0 modalC bg-opacity-1  flex justify-center items-center z-50"

(click)="closeModal()"
>


<div class="bg-white p-8 rounded-lg shadow-lg w-full sm:w-96 modal-enter animate"
(click)="$event.stopPropagation()"

[ngClass]="{'modal-enter-active': isModalOpen, 'modal-leave-active': !isModalOpen}">
  <h2 class="text-xl font-semibold text-orange-600 mb-4">Modifier une chambre</h2>

  <!-- Formulaire -->
  <form (ngSubmit)="updateRoom(idData)">
    <div class="mb-4">
      <label for="numero" class="block text-gray-700">Numéro de la chambre</label>
      <input [(ngModel)]="dataRoom.numero" type="text" id="numero" name="numero" class="w-full p-2 mt-2 border border-gray-300 rounded" placeholder="Ex: 101" required>
    </div>

    <div class="mb-4">
      <label for="type" class="block text-gray-700">Type de chambre</label>
      <select id="type" [(ngModel)]="dataRoom.type" name="type" class="w-full p-2 mt-2 border border-gray-300 rounded">
        <option value="Standard">Standard</option>
        <option value="Deluxe">Deluxe</option>
        <option value="Suite">Suite</option>
      </select>
    </div>

    <div class="mb-4">
      <label for="prix"  class="block text-gray-700" >Prix par jour (Ar)</label>
      <input type="number"  [(ngModel)]="dataRoom.prix" name="prix" id="prix" class="w-full p-2 mt-2 border border-gray-300 rounded" placeholder="Ex: 50000" required>
    </div>

    <div class="mb-4">
      <label for="photo" class="block text-gray-700">Photo de la chambre</label>
      <input type="file" (change)="onFileSelected($event)" id="photo" class="w-full p-2 mt-2 border border-gray-300 rounded" required>
    </div>



    <!-- Buttons -->
    <div class="flex justify-end space-x-4">
      <button
        type="button"
        (click)="closeModal()"
        class=" cursor-pointer bg-gray-300 text-gray-700 px-4 py-2 rounded hover:bg-gray-400">
        Annuler
      </button>
      <button
        type="submit"
        class="cursor-pointer bg-orange-500 text-white px-4 py-2 rounded hover:bg-orange-600">
       Modifier
      </button>
    </div>
  </form>
</div>
</div>
@if(chambreIndispo.length!=0){
  <div class="flex justify-center items-center w-full">
    <div class="relative">
    <lucide-angular name="search" class="absolute left-3 top-1/2 transform -translate-y-1/2  text-gray-500"></lucide-angular>
    <input type="text" placeholder="Rechercher par numero ou type..." [(ngModel)]="searchText"
    class="pl-12 pr-4 py-2 w-85 text-gray-500
     border border-gray-100 rounded-full shadow-lg focus:outline-none focus:ring-blue-500"
    >
  </div>
  </div>
<h1 class="text-gray-900 text-xl">Listes des chambres indisponibles</h1>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">


  <div *ngFor="let chambre of FilterRooms" class="chb bg-white shadow-md rounded-lg overflow-hidden">
    <img [src]="'http://localhost:8080/api/chambres/image/'+chambre.imagePath.replace('uploadChambre/','')" alt="Chambre" class="w-full h-48 object-cover">
    <div class="p-4">
      <h2 class="text-lg font-semibold">{{ chambre.type }}</h2>
      <p class="text-gray-600">Numéro: {{ chambre.numero }}</p>
      <p class="text-gray-700 font-bold">{{ chambre.prix }} Ar / jour</p>

    </div>
    <div class="p-4 flex justify-between">
      <button (click)="setData(chambre.id,chambre.type,chambre.numero,chambre.prix)" class="cursor-pointer bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-600">Modifier</button>
      <button (click)="deleteRoom(chambre.id)" class=" cursor-pointer bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600">Rendre dispo</button>
      <button
      (click)="DetailsChambre(chambre.id,chambre.numero,chambre.type,chambre.prix,chambre.imagePath,chambre.disponible)"
      class="cursor-pointer bg-yellow-500 text-white px-3 py-1 rounded hover:bg-yellow-600">Details</button>
    </div>

  </div>
  @if (FilterRooms.length===0) {
    <h1 class="text-2xl font-bold text-gray-600">Aucun resultat disponible!</h1>
  }
  </div>
}@else {
  <h3 class="text-xl">!--Listes des chambres indisponibles vides--!</h3>
}
  @if (isDetail ) {
    <div (click)=" clickNotDetatil()" class="fixed inset-0 modalC bg-opacity-1  flex justify-center items-center z-50">

      <app-sous-chambre [chambre]="chambr"  (monEvenement)="receiveClose($event)" ></app-sous-chambre>
    </div>
  }

